<%= form_for(@edge_type) do |f| %>
  <% if @edge_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edge_type.errors.count, "error") %> prohibited this edge_type from being saved:</h2>

      <ul>
      <% @edge_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source_type %><br />
    <%= f.text_field :source_type %>
  </div>
  <div class="field">
    <%= f.label :sink_type %><br />
    <%= f.text_field :sink_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "mceEditor" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
