<p id="notice"><%= notice %></p>
<%= link_to image_tag("list.png"), edge_types_path %>
<%= link_to image_tag("edit.png"), edit_edge_type_path(@node) %>
<p>
  <b>Name:</b>
  <%= @edge_type.name %>
</p>

<p>
  <b>Source type:</b>
  <%= @edge_type.source_type %>
</p>

<p>
  <b>Sink type:</b>
  <%= @edge_type.sink_type %>
</p>

<p>
  <b>Description:</b>
    <div class="framedtext">
  <%= raw @edge_type.description %>
    </div>
</p>
