<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @edge_type.name %>
</p>

<p>
  <b>Source type:</b>
  <%= @edge_type.source_type %>
</p>

<p>
  <b>Sink type:</b>
  <%= @edge_type.sink_type %>
</p>
<div  class=mcetext>
<p>
  <b>Description:</b>
  <%= raw @edge_type.description %>
</p>
</div>

<%= link_to 'Edit', edit_edge_type_path(@edge_type) %> |
<%= link_to 'Back', edge_types_path %>
