<h1>Listing edges</h1>
<%= link_to image_tag("new.png"), new_edge_path %>
<table>
  <tr>
    <th>Source</th>
    <th>Sink</th>
    <th>Name</th>
    <th>Edge type</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @edges.each do |edge| %>
  <tr>
    <td><%= edge.source_name %></td>
    <td><%= edge.sink_name %></td>
    <td><%= edge.name %></td>
    <td><%= edge.edge_type_name %></td>
    <td><%= link_to image_tag("show.png"), edge %></td>
    <td><%= link_to image_tag("edit.png"), edit_edge_path(edge) %></td>
    <td><%= button_to '', edge,  method:  :delete, :form_class => "buttondel" %></td>
  </tr>
<% end %>
</table>


