<h1>Listing edges</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Sink</th>
    <th>Name</th>
    <th>Edge type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @edges.each do |edge| %>
  <tr>
    <td><%= edge.source_name %></td>
    <td><%= edge.sink_name %></td>
    <td><%= edge.name %></td>
    <td><%= edge.edge_type_name %></td>
    <td><%= edge.description %></td>
    <td><%= link_to 'Show', edge %></td>
    <td><%= link_to 'Edit', edit_edge_path(edge) %></td>
    <td><%= link_to 'Destroy', edge, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edge', new_edge_path %>
