<p id="notice"><%= notice %></p>
<%= link_to image_tag("list.png"), edges_path %>
<%= link_to image_tag("edit.png"), edit_edge_path(@edge) %>
<p>
  <b>Source:</b>
  <%= @edge.source_name %>
</p>

<p>
  <b>Sink:</b>
  <%= @edge.sink_name %>
</p>

<p>
  <b>Name:</b>
  <%= @edge.name %>
</p>

<p>
  <b>Edge type:</b>
  <%=@edge.edge_type.name %>
</p>



<p>
  <b>Description:</b>
  <div class="framedtext">
  <%= raw @edge.description %>
  </div>
</p>

<%= render :partial => "nodes/paint_graph" %>
